[Unit]
Description=Telegram Media Embedder Bot
After=multi-user.target

[Service]
ExecStart=poetry run python3 embeddertg
Restart=always
User=brian
Type=idle
WorkingDirectory=/home/brian/git/embeddertg/

[Install]
WantedBy=multi-user.target
